* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow: scroll;
  background-color: whitesmoke;
}

body {
  font-family: "Shippori Mincho", serif;
}

/* Nav Styles F2D3BC E5CBCE*/

.nav {
  position: relative;
  font-size: 2.5rem;
  height: 15%;
  width: 100%;
  background-color: rgb(242, 211, 188);

  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav a {
  color: white;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 1.2rem 2.5rem;
  font-weight: bold;
  font-size: 2.3rem;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.5s;
  transition: color 0.5s;
}

.nav a:hover {
  border-bottom: 2px solid rgb(155, 155, 155);
  color: rgb(155, 155, 155);
}

.nav a:nth-child(4) {
  border-bottom: 2px solid rgb(155, 155, 155);
}

.nav-logo {
  position: relative;
  width: 100%;
  text-align: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.about {
  background: url(/images/woman.jpeg) no-repeat left;
  background-size: 55%;
  background-color: whitesmoke;
  min-height: 35vh;
  width: 80%;
  padding: 100px 0;
}

.inner {
  background-color: rgb(242, 211, 188);
  width: 55%;
  float: right;
  padding: 12rem 100px;
}

.inner h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.inner p {
  font-size: 1.6rem;
}
/* footer styles */
.footer {
  display: inline-block;
  position: relative;
  bottom: 0%;
  height: 20rem;
  width: 100%;
  background-color: black;
  justify-content: center;
}

.footer-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.social-media {
  position: relative;
  display: inline-block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.instagram-logo {
  position: relative;
  height: 5rem;
  width: 5rem;
}
