html {
  font-size: 62.5%;
  overflow: scroll;
  background-color: rgb(245, 226, 214);
}

/* Nav Styles */

.nav {
  position: relative;
  font-size: 2.5rem;
  height: 15%;
  width: 100%;
  background-color: rgb(242, 211, 188);

  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav a {
  color: white;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 1.2rem 2.5rem;
  font-family: Garamond, serif;
  font-weight: bold;
  font-size: 2.3rem;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.5s;
  transition: color 0.5s;
}

.nav a:hover {
  border-bottom: 2px solid rgb(155, 155, 155);
  color: rgb(155, 155, 155);
}

.nav-logo {
  position: relative;
  width: 100%;
  text-align: center;
}

/* Subnav styles */

.subnav {
  text-align: center;
  border-top: 1px solid rgb(158, 108, 68);
  border-bottom: 1px solid rgb(158, 108, 68);
  background-color: whitesmoke;
}

.subnav-pic {
  position: relative;
  justify-content: center;
}

.subnav-text h2 {
  color: black;
  position: relative;
  text-align: center;
  font-size: 4rem;
  font-family: Garamond, serif;
  font-weight: normal;
  margin-top: 3rem;
  margin-bottom: 6rem;
  justify-content: center;
}

/* Content Wrapper */

.box-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  margin-left: 20%;
  margin-right: 20%;
  justify-content: center;
}

.box {
  position: relative;
  display: flex;
  height: 50rem;
  width: 40rem;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 8px;
  border: 2px solid rgb(158, 108, 68);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.05), 2px 2px 7px rgba(0, 0, 0, 0.6);
}

.box-text-overlay {
  position: absolute;
  bottom: 0;
  padding: 0.8rem;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  font-family: Garamond, serif;
  color: white;
  background-color: rgb(158, 108, 68);
  width: 100%;
  box-shadow: 0 0px 5px 0px #333;
}

.box-text-transition-wrapper {
  position: grid;
  width: 100%;
  height: 100%;
}

.new {
  opacity: 0;
  float: right;
}

.old {
  float: left;
}

.old,
.new {
  transition: opacity 0.5s linear;
}

.box-text-overlay:hover .new {
  opacity: 1;
}

.box-background {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.box p {
  margin-top: 0.5rem;
}

/* info styles */

.info {
  text-align: center;
  margin-top: 6rem;
  margin-left: 20%;
  margin-right: 20%;
}

.info h1 {
  color: rgb(158, 108, 68);
  font-size: 4rem;
}

.info p {
  font-size: 2rem;
}

.info hr {
  margin: 2rem;
  border: 1px solid rgb(158, 108, 68);
}

/* footer styles */
.footer {
  margin-top: 4rem;
  position: relative;
  height: 20rem;
  width: 100%;
  background-color: black;
}

.footer-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  align-content: center;
}

.social-media {
  position: relative;
  display: inline-flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.instagram-logo {
  position: relative;
  height: 5rem;
  width: 5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
