html {
  font-size: 62.5%;
}
.banner {
  position: ;
}
.nav {
  position: relative;
  font-size: 2.5rem;
  height: 15%;
  width: 100%;
  background-color: rgb(242, 211, 188);

  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav a {
  color: white;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 1.2rem 2.5rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2.3rem;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.5s;
  transition: color 0.5s;
}

.nav a:hover {
  border-bottom: 1px solid rgb(155, 155, 155);
  color: rgb(155, 155, 155);
}

.nav-logo {
  position: relative;
  width: 100%;
  text-align: center;
}

.subnav {
  text-align: center;
  border-top: 1px solid rgb(158, 108, 68);
}

.subnav-pic {
  position: relative;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
